*{
    margin: 0;
    padding: 0;
}
.name{
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}
.big{
    padding: 0 15px;
    font-size: 20px;
}
.big:nth-child(1) {
    padding-left: 0;
}
.cyan
{
    color: #5a8c92;
}
h1{
    color: #f5c542;
    display: block;
    font-size: 20px;
    font-family: Ubuntu Mono, monospace;
    letter-spacing: 2px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
p{
    font-size: 17px;
    font-family: Ubuntu Mono, monospace;
    color: whitesmoke;
    max-width: 800px;
    overflow-wrap: break-word;
    margin: auto auto 1px;
}
a {
    color: #f5c542;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    max-width: 800px;
    overflow-wrap: break-word;
    margin: auto auto 1px;
    display: list-item;
    text-align: -webkit-match-parent;
}
body{
    max-width: 800px;
    overflow-wrap: break-word;
    margin: auto auto 95px;
    padding: 15px;
    font-family: Ubuntu Mono,monospace;
    font-size: 1.15em;
    color: white;
}
html{
    background: #181818;
}
